body {
  margin: 0;
}

h1 {
  font-family: 'Great Vibes', cursive;
  color: #fff;
  font-size: 2em;
  margin-top: 1em;
}

h1:hover {
  transition: all .4s linear;
}

h2 {
  font-family: 'Quicksand', bold, sans-serif;
  color: #848484;
}

.about-h2, .p-h2 {
  color: #fff;
}

h3 {
  font-family: 'Quicksand', bold, sans-serif;
  color: #848484;
}

p {
  font-family: 'Quicksand', sans-serif;
  color: #ccc;
}

figcaption {
  font-style: italic;
  color: #ccc;
}

.current {
  background-color: #000531;
  color: #fff;
}

header {
  position: relative;
  text-align: center;
}

.header {
  background-color: #fff;
}

.nav {
  list-style-type: none;
  display: none;
  position: absolute;
  right: 0;
  width: 100%;

}

.nav a {
  text-decoration: none;
  display: block;
  padding: 0.5em;
  color: #fff;
}

.nav a:hover {
  color: #fff;
}


.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav {
  display: block;
  top: 6em;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 25px;
  position: absolute;
  right: 1em;
  top: 2em;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

a {
  font-family: 'Quicksand', bold, sans-serif;
  text-decoration: none;
  color: #fff;
}

.current {
  background-color: #000;
  color: #fff;
}

.picture {
  background-image: url("../images/colour.jpeg");

  height: 200px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.picture-footer {
  background-image: url("../images/colour.jpeg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.picture-engineering {
  background-image: url("../images/lake.jpeg");

  height: 200px;

background-color: #ccc;
}

.about {
  background-color: transparent;
}

.aboutme-p {
  vertical-align: middle;
}

.line1 {
  height: 10px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  top: 3px;
  line-height: 0.5;
}

span {
  font-family: 'Quicksand', bold, sans-serif;
  border-color: transparent;
}

.banner {
  position: relative;
  background-image: url("{{site.baseurl}}/../images/boat.jpg");
  background-size: cover;
}

.banner-content {
  position: absolute;
  width: 100%;
  top: 50px;
  background-size: 90px;
}


.btn-banner {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
}

.btn-banner:hover {
  background-color: transparent;
  border-color: #fff;
  border-radius: 5px;
  border-bottom: transparent;
  border-top: transparent;
  transition: all .5s linear;
}

.btn {
  color: #fff;
  transition-duration: .25s;
  transition-timing-function: linear;
  border-color: transparent;
  background-color: transparent;
}

.btn-social:hover {
  background-color: transparent;
  color: #fff;
  border-color: transparent;
}

.lines {
  line-height: 0.5;
  text-align: center;
}
.lines span {
  display: inline-block;
  position: relative;
}
.lines span:before,
.lines span:after {
  content: "";
  position: absolute;
  height: 10px;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  top: 3px;
  width: 800px;
}
.lines span:before {
  right: 100%;
  margin-right: 15px;
}
.lines span:after {
  left: 100%;
  margin-left: 15px;
}

.social-media {
  background-color: #fff;
  color: #000;
}

.container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.subtitle-get {
  color: #fff;
}

.container:hover .overlay {
  opacity: 0.80;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

footer {
  vertical-align: middle;
  background-color: #ccc;
}

.footer-p {
  color: #fff;
  border-top: 2px solid #fff;
}

.footer-2-p {
  color: #fff;
  border-top:1px solid #ccc;
}

.shrink {
  transition: all 250ms linear 100ms;
}


@media only screen and (min-width: 25em) {

  h1 {
    text-align: left;
    margin-left: 1em;
  }

}

@media only screen and (min-width: 38em) {

  h1 {
    float: center;
  }

  label.nav-label {
    display: none;
  }

  .nav {
    position: static;
    display: block;
  }

  h1 {
    text-align: center;
    margin-left: 0;
  }

}

.sm-section-intro-image-ideation {
    background-image: url(../images/sparmetric/intro-ideation.jpg);
}

.js-sm-section-intro-image-animate {
    height: 100%;
    width: 100%;
}

.sm-section-intro-image {
    height: 125%;
    width: 125%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: all 10s ease;
