h1 {
  font-family: 'Great Vibes', cursive;
  color: #000;
}

h2 {
  font-family: 'Noto Sans', bold, sans-serif;
  color: #000;
}

p {
  font-family: 'Noto Sans', sans-serif;
  color: #848484;
}

nav {
  font-family: 'Noto Sans', sans-serif;
}

nav a {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
}

nav a:hover {
  color: #848484;
  border-bottom: .1em solid #848484;
}

li {
  display: inline;
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #000;
}

header {

  transition: .3s;
}

.btn {
  background-color: #transparent;
  border-color: #fff;
}

.btn:hover {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

.social {
  color: #d5bfaa;
  transition-duration: .25s;
  transition-timing-function: linear;
}

.social:hover {
  background-color: transparent;
  color: #848484;
}

.list:hover {
  color: #030A57;
  text-decoration: underline;
}

.lines {
  line-height: 0.5;
  text-align: center;
}
.lines span {
  display: inline-block;
  position: relative;
}
.lines span:before,
.lines span:after {
  content: "";
  position: absolute;
  height: 6px;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  top: 3px;
  width: 300px;
}
.lines span:before {
  right: 100%;
  margin-right: 15px;
}
.lines span:after {
  left: 100%;
  margin-left: 15px;
}

.social-media {
  background-color: #fff;
  color: #000;
}

.container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.container:hover .overlay {
  opacity: 0.80;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
