<section id="about" class="about">

  <h2 class="push-0 text-center">Who am I?</h2>

  <div class="grid">
  <div class="unit xs-1 s-1 m-1 l-1-2 xl-1-2">
  <div class="gutter-1-4">
    <figure class="texthover push-0">
        <img class="img-flex island-1-2 me" src="{{site.baseurl}}/images/me.jpg" alt="">
    </figure>
  </div>
  </div>
  <div class="unit xs-1 s-1 m-1 l-1-2 xl-1-2">
    <p class="push-0 island-1-2 max-length text-center aboutme-p">My name is Stephanie Piccoli, Graphic Designer extraordinaire!<br><br>

    I’m currently wrapping up my final year in the Graphic Design program at Algonquin College. I’m very passionate about all aspect of design, from traditional graphic design and web to user interface and user experience. I’m always ready to take up new challenges and love pushing myself to the edge of my abilities.<br><br>

    I was born and raised in Brazil and spend much of my younger days by the sea. This has heavily inspired my obsession with creating designs that are clean and minimalist in nature, all the while being functional and setting the client apart from their competition.</p>
  </div>

</div>
</div>

</section>
