{% if page.url == "/" %}
<footer class="push-0 footer" id="footer" role="footer">

<section class="push-0">
  <h2 class="text-center push-0 pad-t-1-4"><span>Get in Touch</span></h2>
    <div class="grid grid-middle gutter-1-2">
      <div class="unit xs-1 s-1 m-1 l-1-4 xl-1-4">

        <ul class="list-group-inline text-center push-0">

          <li class="">
            <a class="btn btn-social text-center">
              <i class="icon i-64">
                <img src="{{site.baseurl}}/images/placeholder-logo.png" alt="LinkedIn logo">
              </i>
              <span class="milli block">LinkedIn</span>
            </a>
          </li>

          <li class="island-1-8">
            <a class="btn btn-social icon-link text-center">
              <i class="icon i-64">
                <img src="{{site.baseurl}}/images/placeholder-logo.png" alt="Behance Logo">
              </i>
              <span class="milli block">Behance</span>
            </a>
          </li>

          <li class="island-1-8">
            <a class="btn btn-social icon-link text-center gutter">
              <i class="icon i-64">
                <img itemprop="image" src="{{site.baseurl}}/images/placeholder-logo.png" alt="Email Link">
              </i>
              <span class="milli block">Email</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    {% endif %}

    <p class="footer-p push-0 micro text-center">Stephanie Piccoli Designs © <i>Portfolio</i></p>
</section>

</footer>
