{% if page.url == "/" %}
<footer class="push-0 footer" id="footer" role="footer">

<section class="push-0">
  <h2 class="get text-center push-2 pad-t-2">Get in Touch</h2>
    <div class="grid grid-middle gutter-1-2">
      <div class="unit xs-1 s-1 m-1 l-1-4 xl-1-4">

        <ul class="list-group-inline text-center push-2">

          <li class="">
            <a href="https://www.linkedin.com/in/stephanie-piccoli-80a97976/" class="island-1-4 text-center" aria-label="Hit me up on LinkedIn">LinkedIn</a>
          </li>

          <li class="">
            <a href="https://www.instagram.com/steph_spiccoli/" class="island-1-4 text-center" aria-label="Check other work">Behance</a>
          </li>

          <li class="">
            <a href="https://www.instagram.com/steph_spiccoli/" class="island-1-4 text-center" aria-label="Take a look at my Instagram">Instagram</a>
          </li>

          <li class="">
            <a href="stephaniersp@gmail.com" class="island-1-4 text-center">Email me!</a>
          </li>


        </ul>
      </div>
    </div>
    {% endif %}

    <p class="footer-p push-0 micro text-center">Stephanie Piccoli Designs © <i>Portfolio</i></p>
</section>

</footer>
