<div class="">
<nav class="text-center pad-t-1-4">
    <div class="pad-t-1-4">
      <a href="{{site.baseurl}}/">
        <div class="ltext-center">
          <img class="logo" src="{{site.baseurl}}/../images/me-logo.svg" alt="">
        </div>
      </a>
    </div>
  <input type="checkbox" class="nav-check" id="nav-check">
  <label class="nav-label hide-custom-input" for="nav-check">
    <img class="open nav-open" src="{{site.baseurl}}/images/nav-icon.svg" alt="Open Navigation">
    <img class="close nav-close" src="{{site.baseurl}}/images/nav-icon-close.svg" alt="Close Navigation">
  </label>
  <ul class="list-group-inline nav">
    <li><a class="btn btn-banner island-1-2" href="{{site.baseurl}}/#portfolio">Portfolio</a></li>
    <li><a class="btn btn-banner island-1-2" href="{{site.baseurl}}/#about">About</a></li>
    <li><a class="btn btn-banner island-1-2" href="{{site.baseurl}}/#footer">Contact</a></li>
  </ul>
</nav>
</div>
