<nav class="text-center">
<div class="text-center navigation">
  <a href="{{site.baseurl}}/">
    <img class="push-1-2 logo" src="{{site.baseurl}}/../images/me-logo.svg" alt="">
  </a>
  <p>Graphic Designer and Web Developer based in Ottawa</p>
  <ul class="island-1-2 pad-t-1-2 list-group-inline nav">
    <li><a class="btn-banner" href="{{site.baseurl}}/#portfolio">Portfolio</a></li>
    <li><a class="btn-banner" href="{{site.baseurl}}/#about">About</a></li>
    <li><a class="btn-banner" href="{{site.baseurl}}/#footer">Contact</a></li>
  </ul>
</nav>
</div>
