<nav class="text-center">
    <div class="">
      <a href="{{site.baseurl}}/">
        <img class="push-1-2 logo img-flex" src="{{site.baseurl}}/../images/me-logo.svg" alt="">
      </a>
      <p>Graphic Designer and Web Developer based in Ottawa</p>
    </div>
  <ul class="pad-t-1-4 pad-b-1-4 list-group-inline nav">
    <li><a class="btn btn-banner island-1-2" href="{{site.baseurl}}/#portfolio">Portfolio</a></li>
    <li><a class="btn btn-banner island-1-2" href="{{site.baseurl}}/#about">About</a></li>
    <li><a class="btn btn-banner island-1-2" href="{{site.baseurl}}/#footer">Contact</a></li>
  </ul>
</nav>
