<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="A portfolio website that displays some of my best graphic design work">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
</head>
<body>

  <header class="push-1-4" role="navigation" id="nav">
    {% include nav.html %}
  </header>

  {% if page.url == "/" %}
{% endif %}

  <main class="pad-t-1-4">
    {{content}}
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/2.0.0/jquery.localScroll.min.js"></script>
  <script src="{{site.baseurl}}/js/smooth-scrolling.js"></script>
</body>
</html>
