<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="images/favicon.png">
  <meta name="description" content="{{page.meta}}">
  <link rel="stylesheet" href="https://use.typekit.net/wla7pxz.css">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
</head>
<body>

  {% if page.url == '/' %}
    <header class="push-1-4" role="navigation" id="nav">
      {% include nav.html %}
    </header>
  {% else %}
    <header class="header-2 push-1-4" role="navigation" id="nav">
      {% include nav.html %}
    </header>
  {% endif %}

  <main class="pad-t-1-4">
    {{content}}
  </main>

  <div class="push-0">
    {% include footer.html %}
  </div>

  <button class="button" onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/2.0.0/jquery.localScroll.min.js"></script>
  <script src="{{site.baseurl}}/js/smooth-scrolling.js"></script>
  <script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("myBtn").style.display = "block";
      } else {
          document.getElementById("myBtn").style.display = "none";
      }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
  }
</script>
</body>
</html>
