<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Website</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Tenor+Sans" rel="stylesheet">

  <link href="{{site.baseurl}}/common/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/common/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/common/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>
<body>

  <header role="navigation" class="" id="nav">

      {% include nav.html %}

  </header>

    <div class="picture"></div>

  <main class="pad-t-2">
    {{content}}
  </main>

  <footer class="pad-t-2 footer" id="footer" role="footer">

  <section class="push-2">
    <h2 class="subtitle lines text-center subtitle"><span>Get in Touch</span></h2>
      <div class="grid grid-middle island-1-2">
        <div class="unit xs-1 s-1 m-1 l-1-4 xl-1-4">
          <ul class="list-group-inline text-center push-0 pad-t-1-4">

            <li class="island-1-8">
              <a class="social-media btn text-center gutter">
                <i class="icon i-64 push-1-8">
                  <img src="{{site.baseurl}}/images/placeholder-logo.png" alt="">
                </i>
                <span class="social icon-label milli block">LinkedIn</span>
              </a>
            </li>

            <li class="island-1-8">
              <a class="social-media btn text-center gutter">
                <i class="icon i-64 push-1-8">
                  <img src="{{site.baseurl}}/images/placeholder-logo.png" alt="">
                </i>
                <span class="social icon-label milli block">Instagram</span>
              </a>
            </li>

            <li class="island-1-8">
              <a class="social-media btn icon-link text-center gutter">
                <i class="icon i-64 push-1-8">
                  <img src="{{site.baseurl}}/images/placeholder-logo.png" alt="">
                </i>
                <span class="social icon-label milli block">Behance</span>
              </a>
            </li>

            <li class="island-1-8">
              <a class="social-media btn icon-link text-center gutter">
                <i class="icon i-64 push-1-8">
                  <img src="{{site.baseurl}}/images/placeholder-logo.png" alt="">
                </i>
                <span class="social icon-label milli block">Email</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
  </section>

    <ul class="footerlist-group-inline text-center">

      <p class="push-0 micro text-center">Stephanie Piccoli Designs © <i>Portfolio</i></p>
    </ul>

  </footer>

</body>
</html>
